<p id="notice"><%= notice %></p>

<p>
  <b>Word:</b>
  <%= @word.word %>
</p>

<p>
  <b>Definition:</b>
  <%= @word.definition %>
</p>

<p>
  <b>Tags:</b>
  <%= @word.tags %>
</p>


<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
